
body {
  padding: 0;
  margin: 0;

  background-color: White;

  font-family: 'Montserrat', Helvetica, sans-serif;
  color: #000;
}

.bg_default {
  height: 100%;
  width: 100%;

  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("img_cubes.png");

  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  filter: blur(2px);
}

.menu {
  background-color:purple;

  clip-path: polygon(0 0, 50% 0, 30% 100%, 0% 100%);
  transition: all 0.3s ease-in-out;
}

.holderWrapper {
  clip-path: polygon(0 0, 50% 0, 30% 100%, 0% 100%);
  transition: all 0.3s ease-in-out;
}

.holderWrapper:hover {
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);
}

.menuItemWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:purple;
}

.menuItem {
  color: white;
  background-color: grey;
  border-style: ridge;
  text-align: right;
  padding: 40px;
  font-size: 50px;
  flex: 1;

  transition: all 0.3s ease-in-out;
}

.menuItem:hover {
	flex: 3;
  background-color: rgb(80,80,80);
}




/** Headers
*/

.header_default {
  display: table;
  position: relative;
  table-layout: fixed;

  width: 100%;
  height: 320px;

  padding: 0;
  margin: 0;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.header_default.header_lar {
  height: 640px;
}

.header_default.header_med {
  height: 160px;
}

.header_default.header_small {
  height: 80px;
}

.header_default.header_blank {
  background-color: #111;
}



.holder {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.holder.padded {
  padding-left: 1%;
  padding-right: 1%;
}



@keyframes fadeInAnimation {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
